<h1><img src={{flags.svg}} alt="Флаг" width="20" height="20"/>{{name.official}}</h1>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    {{#each languages}}
    <p>Languages : {{this}}</p>
     {{/each}}
   

  
 